{
    "env": {
        "development": {
            "plugins": [
                "transform-decorators-legacy",
                "babel-plugin-styled-components",
                "babel-plugin-transform-class-properties",
                "babel-plugin-transform-object-rest-spread"
            ]
        },
        "production": {
            "plugins": [
                "transform-decorators-legacy",
                "babel-plugin-transform-class-properties",
                "babel-plugin-transform-object-rest-spread"
            ]
        }
    },
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 Chrome versions"]
            }
        }],
        "react"
    ]
}